[submodule "Game Dev 1\\Assets\\Tools"]
	path = Game Dev 1\\Assets\\Tools
	url = https://github.com/HartzellMaxPhillips/Tools
[submodule "ArtisanDream.Tools"]
	path = ArtisanDream.Tools
	url = https://github.com/HartzellMaxPhillips/ArtisanDream.Tools
